html, body {
	margin: 0px; /** ќтступы со всех сторон равны 0px **/
	padding: 0px; /** ќтступы со всех сторон равны 0px **/
	font-family: Arial, Helvetica, 'sans-serif'; /** Ўрифты по умолчанию **/
}

.container {
	width: 1000px;
}

.header-descript {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/bg-header.jpg) repeat-x top center;;
	color: rgb(37, 21, 21);
	height: 100%;
	width: 100%;
	margin: 0 !important;
}

.header-descript .grid_5 {
	padding: 40px 95px 0 230px;
	font-size: 0.494cm;
}
  
.header-descript .grid_5 a {
	display: block;
	height: 61px;
	width: 95px;
	float: left;
	color: white;
	font-size: 0.847cm;
	font-weight: bold;
	line-height: 1.499;
	width: 3.21cm;
	height: 0.811cm;
}

.header-descript .grid_7 .menu_items {
	float: right;
	font-size: 0.494cm;
	line-height: 1.715;
	padding: 10px 230px 0 0;
}

.header-descript .grid_7 a {
	display: block;
	height: 100px;
	float: left;
	color: white;
}

.header-descript .grid_7 a.home {
	width: 62px;
}

.header-descript .grid_7 a.portfolio {
	width: 94px;
}

.header-descript .grid_7 a.about {
	width: 75px;
}

.header-descript .grid_7 a.works {
	width: 94px;
}

.header-descript .grid_7 a.blog {
	width: 94px;
}
.header-descript .grid_7 a.clients {
	width: 94px;
}
.header-descript .grid_7 a.contact {
	width: 94px;
}

.image-form-container {
	margin-top: 10px;
	height: 100%;
	width: 100%;
}
.image-form-container .left-photo {
	background: #eee;
	height: 300px;
}

.sale {
	background: #563d7c;
	margin-top: 10px;
	color: white;
	height: 100%;
	width: 100%;
}

.sale .title {
	font-size: 28px;
	text-align: center;
}

.triggers {
	margin-top: 10px;
	height: 100%;
	width: 100%;
}

.triggers .triggers-title {
	font-size: 24px;
	text-align: center;
}

.trigger, .response {
	text-align: center;
	height: 50px;
	border: 1px solid #eee;
}

.responses {
	margin-top: 10px;
	height: 100%;
	width: 100%;
}

.responses .responses-title {
	font-size: 24px;
	text-align: center;
}

.footer {
	margin-top: 10px;
	height: 50px;
	text-align: center;
	background: #eee;
	height: 100%;
	width: 100%;
}